{% load static %}

<script src="{% static "js/jquery-3.3.1.js" %}"></script>
<!-- <script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/rangojquery.js" %}"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "js/jsnetworkx.js" %}"></script> -->

<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "js/jsnetworkx.js" %}"></script>
<script src="{% static "js/rangographs.js" %}"></script>
<link rel="stylesheet" href="{% static "css/dropdown.css" %}">
<link rel="stylesheet" href="{% static "css/run.css" %}">

<div class="dropdown" >
  <button class="dropbtn">Add Modules</button>
  <div class="dropdown-content">
    <a id="Dicomms" onclick="add_node(this.id)" href="#">Dicomms</a>
    <a id="Align" onclick="add_node(this.id)" href="#">Align</a>
    <a id="Nifti" onclick="add_node(this.id)" href="#">Nifti</a>
    <a id="Sienna" onclick="add_node(this.id)" href="#">Sienna</a>
  </div>
</div>

<div id="canvas" style="height: 80%; width:100%; position:fixed;"></div>

<form id="runform" action="run" method="GET">
  {% csrf_token %}
  <div class="run">
    <button class="runbtn" >Run</button>
  </div>
</form>
