{% load staticfiles %}

<script src="{% static "js/jquery-3.3.1.js" %}"></script>
<!-- <script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/rangojquery.js" %}"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "js/jsnetworkx.js" %}"></script> -->

<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "js/jsnetworkx.js" %}"></script>
<script src="{% static "js/rangographs.js" %}"></script>
<link rel="stylesheet" href="{% static "css/dropdown.css" %}">


<div class="dropdown" >

  <button class="dropbtn">Add Modules</button>
  <div class="dropdown-content">
    <a id="Dicomms" onclick="add_node(this.id)" href="#">Dicomms</a>
    <a id="Align" onclick="add_node(this.id)" href="#">Align</a>
    <a id="Nifti" onclick="add_node(this.id)" href="#">Nifti</a>
    <a id="Sienna" onclick="add_node(this.id)" href="#">Sienna</a>
  </div>
</div>

<div id="canvas" style="height: 100%; width:100%; position:fixed;"></div>



<!-- <script>

var G = new jsnx.Graph();
G.addNodesFrom([
    [1, {color: 'red'}],
    [2, {color: 'green'}],
    [3, {color: 'white'}]
]);

G.addEdgesFrom([[1,2], [1,3]]);

// `jsnx.draw` accept a graph and configuration object
jsnx.draw(G, {
  element: '#canvas',
  withLabels: true,
  nodeStyle: {
      fill: function(d) {
          return d.data.color;
      }
  }
});

</script> -->

<!-- <div>
  <p> Graph 1</p>
</div> -->

<!-- <div id="demo-canvas" style="left: 75px; top: 0px; height: 10; width: 10; position:fixed">
</div> -->


<!-- <script>
// This is a graph generator
var G = jsnx.cycleGraph(6);
// Compute the shortest path between 0 and 4
var path = jsnx.bidirectionalShortestPath(G, 0, 4);
// A simple way to color all nodes in the path:
G.addNodesFrom(path, {color: '#FFF'});
// Color the start and end differently
G.node.get(0).color = '#0F0'; // start is green
G.node.get(4).color = '#F00'; // end is red

jsnx.draw(G, {
  element: '#demo-canvas',
  withLabels: true,
  nodeStyle: {
    fill: function(d) {
      return d.data.color || '#AAA'; // any node without color is gray
    }
  }
});

// If the user clicks in the window, set the background color of <body> to yellow
function myFunction() {
G.addNode(2)
G.addNode(7)
G.addNode(9)

}
</script> -->

<!-- <p onclick="myFunction()">Click me to change my text color.</p> -->
