{% load static %}

<script src="{% static "js/jquery-3.3.1.js" %}"></script>
<!-- <script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/rangojquery.js" %}"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "js/jsnetworkx.js" %}"></script> -->

<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "js/jsnetworkx.js" %}"></script>
<script src="{% static "js/workflowgraphs.js" %}"></script>
<link rel="stylesheet" href="{% static "css/dropdown.css" %}">
<link rel="stylesheet" href="{% static "css/run.css" %}">


<div id="canvas" style="height: 80%; width:100%; position:fixed;"></div>
<script type="module" src="/Users/deion/UCSF/PBRWebApp/polls/static/js/workflowgraphs.js"></script>
<div class="run">
  <button id="runBtn" class="runbtn">Run</button>
</div>
